p {
    font-weight: bold;
    margin: auto 0;
}

div ul li{
    display: inline-block;
    text-align: center;
    padding: 5px 50px;
    color: rgb(219, 219, 219);
    font-weight: bold;
   
    
}

h3{
    margin: auto;
}


.top {
    width: 800px;
    height: 60px;
    border: 3px solid rgb(219, 219, 219);
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
}

.comment {
    width: 800px;
    height: 70px;
    margin: 20px auto;
    text-align: center;
    display: flex;
}


.box {
    width: 800px;
    height: 80px;
    display: flex;
    padding: 0;
    margin: auto;
    border: 2px solid #ededed;
}

.label{
    width: 120px;
    padding: 0 50px;
   display: flex;
}

.form{
    margin: 25px;     
}

.text{
    margin: 25px 0;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.join {
    text-align: center;
    padding: 20px;
    width: 120px;
    height: 20px;
    color: ghostwhite;
    font-weight: bold;
    background-color: rgb(29, 29, 29);
    margin: 0 5px;
}

.cancel {
    text-align: center;
    padding: 20px;
    width: 100px;
    height: 20px;
    color: ghostwhite;
    font-weight: bold;
    background-color: rgb(94, 94, 94);
}
