.more-suggestions{
    display: block;
    margin: 0 20px;
    margin-top: 20px;
}

.more-suggestions span{
    display:block;
    color: #252525;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.weather{
    display:flex;
    width: 100%
}

.weather i{
    margin-right: 15px;
    opacity: 20%;
}

.weather h1{
    font-size: 34px;
    font-weight: 700;
    margin-right: 10px;
    margin-top: -5px;
}

.subtext{
    display: block;
    margin-right: 130px;
}

.subtext span{
    font-size: 12px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 6px;
}


.dust{
    display: flex;
    margin: 0;
}

.dust span:first-child{
    font-size: 8px;
    color: #5f5f5f;
    font-weight: 600;
}

.dust span:nth-child(2){
    font-size: 8px;
    color: #0066ff;
    font-weight: 600;
}

.location{
    display: flex;
   margin-left: 50px;
    border: solid 2px #ededed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    

}

.location i{
    display: flex;
    justify-content: center;
    margin: auto;
    opacity: 30%;
}



