.screen-header{
    display: flex;
    margin-top: 26px;
    padding: 25px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

h1{
    font-size:30px;
    font-weight: bold;
}

.side-icon{
    display: flex;
    justify-content: flex-end;
}

.side-icon i{
    margin: 10px;
}

.dot{
    display: flex;
    justify-content: flex-end;
    margin-left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(239, 57, 57);
}